@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

.button {
  @include mixins.button-style;
  border: 0;
  cursor: pointer;
  font: inherit;
  @include mixins.transition(transform);

  &:hover {
    transform: translateY(-2px);
  }

  &--dark {
    background: vars.$dark-color;
  }
}
