@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

.card {
  border: 1px solid vars.$border-color;
  padding: 20px;
  background: vars.$white;
  @include mixins.box-shadow;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin: 0 0 10px;
  }

  &__text {
    margin: 0 0 20px;
    line-height: 1.6;
  }

  &--accent {
    border-top: 4px solid vars.$primary-color;
  }
}
