@use "variables" as vars;

@mixin button-style($bg-color: vars.$primary-color) {
  background: $bg-color;
  color: vars.$white;
  padding: 10px 20px;
  border-radius: vars.$radius;
  text-decoration: none;
  display: inline-block;
}

@mixin box-shadow {
  box-shadow: vars.$box-shadow;
}

@mixin transition($property: all, $duration: 0.2s) {
  transition: $property $duration ease;
}
