@use "../abstracts/mixins" as mixins;

.card {
  @include mixins.box-style;

  &__tag {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 0.8rem;
    font-weight: 700;
  }

  h2 {
    margin-bottom: 8px;
  }

  p {
    margin: 0;
  }
}
