$columns: 12;
$column-width: 100% / $columns;

$grid-height-header: 90px;
$grid-height-content: 230px;
$grid-height-footer: 50px;
$grid-height-overlay: 370px;

$purple: #9933cc;
$cyan: #33b5e5;
$blue: #0099cc;
$white: #fff;
$grey: grey;
$black: #000;

$page-inset-left: 8px;
$page-inset-right: 10px;
